<ul>
  <% collections.wiki.each do |wpage|
    wru = wpage.relative_url
    # TODO Bridgetown doesn't prune partials like _Footer
    next if wpage.basename_without_ext.starts_with?("_")
  %>
  <li><a role="link" href="<%= wpage.relative_url %>"><%= wpage.data.slug %></a></li>
  <% end %>
</ul>

